[Unit]
Description=Flask File Server
After=network.target

[Service]
Type=simple
User=liuf
Group=liuf
WorkingDirectory=/home/liuf/server/file_server
ExecStart=/home/liuf/anaconda3/bin/python /home/liuf/server/file_server/file_server.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target 